

{% extends 'base.html.twig' %}

{% block contenidoIzquierda %}
    <h2> Autores </h2>
   
    <div id="list">
     
        {% for autor in autores %}
            <ul id="livre" >
                <img src="../View/img/{{autor.imagen}}" width="150" height="250">              
                <p><b>Nombre:</b><br> {{autor.nombre}} </p>
                <p><b>Libros mas populares:</b><br>  {{autor.popular}}</p>
 
                <div class="descripcion"> <b>bio:</b><br> {{autor.bio}}
                  
                </div> 
                <br>
                <br><br>
                </p>
            </ul>

        {% endfor %}

    </div>





{% endblock %}




