{% extends 'base.html.twig' %}

{% block contenidoIzquierda %}
    

    <h2>Eventos</h2>
    
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffcc&amp;src=fr.spain%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;ctz=Europe%2FMadrid" style="border-width:0" width="900" height="600" frameborder="0" scrolling="no"></iframe>
    
    
   </div>

{% endblock %}





