
{% extends 'base.html.twig' %}

{% block contenidoIzquierda %}

    <h2>Comentarios </h2>
<div id="list">
          <!-- submit == href >> y l' autre sans avec un input display : none ; --> 
                   {% for comment in comments %}
                       <div id="respuesta">
                    <ul >
                 
                 <p><b>Nombre:</b> {{comment.nombre}}</p>
                <p><b>com :</b>{{comment.comment}} </p>

                 </ul>
                 </div>
                {% endfor %} 
</div>
{% endblock %}