{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block contenidoIzquierda %}
    <div id="iniciar">
        <a class="buttn" href="../Controller/logout.php"><span>| Log out</span></a>
    </div>
 
    <h2>Functionalities </h2>
   
    <div id="list">
        <br><br>
        <b>Inicio:</b><p>An index with book covers Gallery and a video about books</p><br>
        <b>Listado Completo:</b><p>List of books where each book has its own comments (users can add comments if they are registered)</p>
        <b>Listado por Categoria:</b><p>List of books by category </p><br>
        <b>Miembros :</b><p></p>Functionalities page / add a book or an author <br>
        <b>Eventos :</b><p>A google calendar</p><br>
        <b>Contacto:</b><p>form to contact</p><br>

        <br><br>
    </div>
  
    
    <button id="miembr"><a  href="../Controller/nuevoAutor.php">añadir Autor</a></button>
    <button id="miembr"><a href="../Controller/nuevoLibro.php">Añadir Libro</a></button>
    <br><br>


{% endblock %}




